@charset "utf-8";

:root {
    --max-width-contents: 1000px;
    --max-width-contents2: 800px;
    --main-color: #49848B;
}

section.hero {
    width: 100%;
    height: 100vh;
    /* background: url(../images/main_hero_bg.jpg) center 30% no-repeat;
    background-size: cover; */
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -2;
}

.hero-bg video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.hero-wrap {
    width: 100%;
    max-width: var(--max-width);
    height: 100%;
    margin: 0 auto;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    gap: 1rem;
}

.hero-content p {
    font-size: 1.8rem;
    font-family: GounBatang;
    color: #fefefe;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.hero-content h1 {
    font-family: Presentation, sans-serif;
    font-size: 4rem;
    font-weight: 700;
}

section.introduce {
    width: 100%;
    background: #D4B69A;
    padding: 4rem 0 5rem 0;
}

.introduce .section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    font-weight: 400;
}

.lawyers-grid {
    width: 100%;
    max-width: var(--max-width-contents);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lawyer-card {
    width: 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.lawyer-photo {
    width: 100%;
    background: #7C6A59;
    overflow: hidden;
    position: relative;
    aspect-ratio: 1 / 2;
    border-radius: 100px;
}

.lawyer-photo img {
    width: 100%;
    height: auto;
    display: block;
    transform: translateY(40%);
}

.lawyer-position {
    color: var(--main-color);
    font-weight: 700;
}

.lawyer-name {
    font-size: 1.2rem;
    font-weight: 400;
}

section.case {
    padding: 4rem 0 5rem 0;
}

.case .section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 4rem;
    font-weight: 100;
}

.case-list {
    width: 100%;
    max-width: var(--max-width-contents);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.case-link {
    text-decoration: none;
    color: inherit;
}

.case-link:hover {
    text-decoration: none;
}

.case-link:hover .case-item {
    border-color: #000;
}

.case-link:hover .case-category {
    color: #000;
}

.case-item {
    border-top: 1.5px solid var(--main-color);
    border-left: 1.5px solid var(--main-color);
    padding: 2rem 0 0 2rem;
    aspect-ratio: 1 / 1.2;
    position: relative;
}

.case-category {
    color: var(--main-color);
    font-weight: 600;
    margin-bottom: 1rem;
}

.case-description {
    font-size: 1.1rem;
    line-height: 1.6;
}

.case-date {
    position: absolute;
    bottom: 2rem;
    font-size: 1rem;
}

section.institute {
    width: 100%;
    background: url('../images/main_institute_bg.jpg') no-repeat center bottom;
    background-size: cover;
    position: relative;
    min-height: 36rem;
}

.institute::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.institute-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 36rem;
    color: #fff;
    z-index: 2;
    position: relative;
    text-align: center;
}

.institute h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.institute p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    max-width: 60rem;
}

.institute-link {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    letter-spacing: -0.1rem;
    text-decoration: none;
    position: relative;
}

.institute-link:hover {
    text-decoration: none;
}

.institute-link::after {
    content: "→";
    font-size: 2rem;
    font-weight: 300;
    position: absolute;
    right: -2.5rem;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.institute-link:hover::after {
    transform: translateX(5px) translateY(-50%);
}

.institute h4 {
    font-size: 1.2rem;
    font-weight: 400;
}

.institute-icon {
    position: relative;
    padding: 4rem 0 2rem 0;
    z-index: 2;
    width: 100%;
}

.institute-icon span {
    width: 5%;
    min-width: 80px;
    aspect-ratio: 1 / 1;
    display: block;
    background: url(../images/main_institute_icon.png) 0 0 no-repeat;
    background-size: contain;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.institute-icon::before {
    content: '';
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 45%;
    height: 3px;
    background: #fff;
    z-index: 2;
}

.institute-icon::after {
    content: '';
    position: absolute;
    bottom: 20%;
    right: 0;
    width: 45%;
    height: 3px;
    background: #fff;
    z-index: 2;
}

section.press {
    padding: 4rem 0 5rem 0;
    background: #f2f2f2;
}

.press-wrap {
    width: 100%;
    max-width: var(--max-width-contents);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.press .section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 100;
}

.press-list {
    border-bottom: 0.01rem solid #000;
}

.press-list li {
    list-style: none;
    border-top: 0.01rem solid #000;
}

.press-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    position: relative;
    padding-right: 40px;
    transition: background 0.2s;
    padding: 1rem 0;
}

.press-link:hover {
    text-decoration: none;
    background-color: #f9f9f9;
}

.press-date {
    width: 8rem;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: Paperozi;
    letter-spacing: -0.05rem;
}

.press-author {
    width: 8rem;
    font-weight: 700;
}

.press-title {
    flex: 1;
}

.press-icon {
    font-size: 1rem;
}



.press-link::after {
    content: "";
    position: absolute;
    right: 15px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}

.press-link:hover::after {
    transform: rotate(45deg) translate(3px, -3px);
}

section.field {
    padding: 4rem 0 8rem 0;
}

.field-wrap {
    width: 100%;
    max-width: var(--max-width-contents);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.field .section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 100;
}

.field-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.field-item {
    list-style: none;
    background: #6CBFC5;
    padding: 1.5rem 1.2rem;
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;
    border-radius: 0.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: background 0.3s ease;
}

.field-item.blue {
    background: #55AADB;
}

.field-item h3.field-title {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

.field-item p {
    font-size: 0.8rem;
    word-break: keep-all;
}

.field-item::before {
    content: '';
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    background: url(../images/main_field_1.png) 0 0 no-repeat;
    background-size: contain;
}

.field-item-2::before {
    background-image: url(../images/main_field_2.png);
}

.field-item-3::before {
    background-image: url(../images/main_field_3.png);
}

.field-item-4::before {
    background-image: url(../images/main_field_4.png);
}

.field-item-5::before {
    background-image: url(../images/main_field_5.png);
}

.field-item-6::before {
    background-image: url(../images/main_field_6.png);
}

.field-item-7::before {
    background-image: url(../images/main_field_7.png);
}

.field-item-8::before {
    background-image: url(../images/main_field_8.png);
}

@media (max-width: 768px) {

    section.hero {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 16;
    }

    .hero-bg video {
        position: absolute;
        top: 120px;
        left: 0;
        width: 100%;
        height: auto;
        object-fit: cover;
        z-index: -1;
    }

    .hero-wrap {
        display: none;
    }

    .hero-content p {
        padding: 0 2rem 5rem;
        word-break: keep-all;
    }

    section.case {
        padding: 2rem 0 3rem 0;
    }

    .case .section-title {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .case-list {
        grid-template-columns: 1fr;
        padding: 0 2rem;
    }

    .case-item {
        aspect-ratio: auto;
        padding: 1rem 0 0.5rem 1.5rem;
        border-width: 1px;
    }

    .case-description {
        margin-bottom: 2rem;
    }

    .case-date {
        position: relative;
        bottom: auto;
        margin-top: 1rem;
    }

    .institute-icon::before,
    .institute-icon::after {
        width: 35%;
    }

    .institute h4 {
        text-align: center;
        width: 80%;
        margin: 0 auto;
        word-break: keep-all;
    }

    .press-list {
        padding: 0 1.5rem;
        border: none;
    }

    .press-link {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        padding-right: 10px;
    }

    .press-link::after {
        top: 25px;
        right: 5px;
    }


    .field-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 0 1.5rem;
    }

    .footer-wrap {
        flex-direction: column;
        gap: 1.5rem;
        text-align: left;
        padding: 0 0.5rem;
    }

    .footer-contact {
        text-align: left;
    }
}