@charset "utf-8";

:root {
    --max-width-contents: 1400px;
    --bg-color: #F3F3F3;
    --title-color: #5F5A5E;
    --sub-border: 0.01rem solid #6E6E71;
}

main {
    padding-top: 70px;
}

.full-wrap {
    width: 100%;
    min-height: calc(100vh - 70px);
    position: relative;
}

.about .sub-container {
    width: 800px;
    margin: 0 auto;
}

.about .full-wrap {
    background-image: url(../contents/about_1.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.about-2 .full-wrap {
    background-image: url(../contents/about_2.jpg);
    background-size: cover;
    color: #fff;
}

.about-3 .full-wrap {
    background-image: url(../contents/about_3.jpg);
    background-size: cover;
}


.about .sub-container {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.about-1 p {
    font-size: 2rem;
    font-family: GounBatang;
}

.about-2 h2 {
    font-size: 1.3rem;
    font-weight: 300;
    position: relative;
    padding-bottom: 4rem;
}

.about-2 h2::after {
    content: '';
    display: block;
    width: 4rem;
    height: 4rem;
    background-image: url(../contents/about-4.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 2rem);
}

.about-2 p {
    margin-top: 4rem;
    font-size: 1.1rem;
    line-height: 1.8;
}

.about-3 p {
    font-size: 1.1rem;
    line-height: 1.8;
}

.sub-wrap {
    border-bottom: var(--sub-border);
    background-color: var(--bg-color);
    padding: 0;
}

.sub-title {
    max-width: var(--max-width-contents);
    margin: 0 auto;
    display: flex;
    border-left: var(--sub-border);
    border-right: var(--sub-border);
}

.sub-title h2 {
    font-weight: 300;
    flex: 0 0 13rem;
    text-align: center;
    border-right: var(--sub-border);
    padding: 1.5rem 0;
    font-size: 1.4rem;
    color: var(--title-color);
}

.sub-container {
    max-width: var(--max-width-contents);
    margin: 0 auto;
    display: flex;
    border-right: var(--sub-border);
    border-left: var(--sub-border);
}

.sub-left {
    flex: 0 0 13rem;
    border-right: var(--sub-border);
    background-color: #fff;
    padding: 2rem 0 0 2rem;
}

.sub-right {
    flex: 1;
}

.sub-right.white {
    background-color: #fff;
}

.sub-left ul,
.sub-left li {
    list-style: none;
}

.sub-left li {
    margin-bottom: 0.6rem;
    transition: transform 0.2s ease, font-weight 0.2s ease;
    font-size: 1.2rem;
    font-weight: 300;
}

.sub-left li:hover {
    transform: translateY(-10%);
    font-weight: 600;
}

.sub-left li.active {
    font-weight: 600;
}

.sub-left li a:hover {
    text-decoration: none;
}

.members-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5rem;
    gap: 1rem;
}

.members-grid-in {
    aspect-ratio: 1 / 2;
    transition: transform 0.5s ease;
}

.members-grid-in figure {
    height: 72%;
    width: 100%;
    background-color: var(--bg-color);
    position: relative;
    overflow: hidden;
    padding-top: 25%;
}

.members-grid-in figure img {
    width: 90%;
    margin: 0 auto;
}

.members-grid-in p {
    padding: 1rem 0;
    text-align: center;
    font-size: 1.5rem;
}

.members-grid-in p span {
    font-weight: 700;
    font-size: 1.8rem;
}

.members-grid-in a:hover {
    text-decoration: none;
}

.members-grid-in:hover {
    transform: translateY(-5%);
}

.members-container {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
}

.members-container ul {
    list-style: none;
}

.members-left figure {
    padding: 5rem 5rem 0 5rem;
    border-bottom: var(--sub-border)
}

.members-name {
    padding: 1rem 7rem;
}

.members-name p {
    font-size: 1.4rem;
}

.members-name p span {
    font-size: 1.8rem;
    font-weight: 700;
}

.members-email {
    font-size: 1.2rem;
}

.members-right {
    border-left: var(--sub-border);
    padding: 5rem 8rem 5rem 3rem;
}

.members-right div {
    margin-bottom: 3rem;
}

.members-right h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.members-right li {
    margin-bottom: 0.3rem;
    position: relative;
    padding-left: 0.8rem;
}

.members-right li::before {
    content: "•";
    font-weight: 100;
    font-size: 0.9rem;
    position: absolute;
    left: 0;
    top: 0rem;
}

.members-right .no-style li {
    padding-left: 0;
}

.members-right .no-style li::before {
    display: none;
}